<p>Live<p>
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<br>

<div class="jumbotron-fluid">
  <div class="container">
    <h4 class="display-8"></h4>
    <p class="lead">Live</p>
    <p class="lead">to be alive,to have life.</p>
  </div>
</div>
<br>
<div class="jumbotron-fluid">
  <div class="container">
    <h4 class="display-8"></h4>
    <p class="lead">Live</p>
    <p class="lead">to have permanenet residence..</p>
  </div>
</div>
<br>
<div class="jumbotron-fluid">
  <div class="container">
    <h4 class="display-8"></h4>
    <p class="lead">Live</p>
     <p class="lead">to survive; to persevere.</p>
  </div>
</div>
<br>
<div class="jumbotron-fluid">
  <div class="container">
    <h4 class="display-8"></h4>
    <p class="lead">Live</p>
    <p class="lead">to make the most of life.</p>
  </div>
</div>