
<div class="jumbotron-fluid">
  <div class="container">
    <h4 class="display-8"></h4>
    <b class="lead">Live</b>
    <p class="lead">Pronuunciation: <b> /liv/</b>
<br></br>

    <div class="jumbotron-fluid">
        <div class="container">
          <h4 class="display-8"></h4>
            <b class="lead">verb:</b>
              <p class="lead">To be alive. To have life.</p>
              <p> eg: He's not expected to live for more than a few months. </p>
<br>
    <div class="jumbotron-fluid">
      <div class="container">
        <h4 class="display-8"></h4>
          <b class="lead">Noun:</b>
            <p class="lead">Having life. THat is alive.</p>
            <p> eg:The post office will not ship live animals. </p>
<br>

     <div class="jumbotron-fluid">
      <div class="container">
        <h4 class="display-8"></h4>
          <b class="lead">Noun:</b>
            <p class="lead">Having life. THat is alive.</p>
            <p> eg:The post office will not ship live animals. </p>

<br>

  <div class="jumbotron-fluid">
    <div class="container">
      <h4 class="display-8"></h4>
        <b class="lead">Adverb:</b>
        <p class="lead">Of an event, as it happens: in real time: direct.</p>
        <p> eg: The concert was broadcasr live by radio. </p>