<p>Enter a keyword<p>
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br>


<div class="jumbotron-fluid">
  <div class="container">
    <h3 class="display-8">Word of the day</h3>
    <p class="lead">Hello: used as a greeting or to begin a phone conversation</p>
  </div>
</div>

def self.search_by (search_term)
  where("Live(word)" linke :search_term"), search_term: %# {search_term.live}"